<link rel="stylesheet" href="../css/comment.css">


<li class="comment-list" id="comment-<%=comment._id %>">
    <div class="comment-profile-picture-container">
        <img class="comment-profile-picture" src="../images/12345.png" alt="profile picture">
    </div>
    <p class="comment-content">
        <small>
            <%= comment.user.name %>
        </small>
        <br>
        <%= comment.comment %>
    </p>
    <!-- if the user is available then the like button will be shown to the user -->
    <% if (locals.user) { %>
        <a class="likeBtn" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
            <i class="fa-regular fa-heart"></i>
            <p id="like-para"><%=comment.likes.length %></p>
        </a>
    <% }else{ %>
        <%=comment.likes.length %>
    <% } %>

    <!-- if the loged in user is the owner of the created comment, then he'll be able to delete the comment only -->
    <% if (locals.user.id == comment.user.id){%>
    <div class="comment-delete-btn-container">
        <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">
            <i class="fa-solid fa-trash-can"></i>
        </a>
    </div>
    <% } %>
</li>