<li id="post-<%= post._id %>">
    <p>
        <%= post.content %><br>
        <small>
            <%= post.user.name %>
        </small>
        <% if (locals.user && locals.user.id == post.user.id){%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">delete</a>
            </small>
        <% } %>
    </p>
    <% if (locals.user){ %>
        <form action="/comment/create" id="comment-post-form" method="post">
            <input name="comment" placeholder="type here to add comment" required>
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="add comment">
        </form>
    <% } %>

    <div class="post-comment-list">
        <ul id="post-comments-<%= post._id %>">
            <% for (comment of post.comments){ %>
                
                <!-- list item has been placed in comment.ejs file using partials -->
                <%- include("_comment") -%>

            <% } %>
        </ul>
    </div>
</li>