<link rel="stylesheet" href="/css/user_profile.css">
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">



<% if(user.id == Profile_user.id){ %>
    <!-- if user matches then show the form  -->
    <form action="/users/update/<%= Profile_user.id%>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%= Profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= Profile_user.email %>" required>

        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="update">
    </form>
    
<% }else{%>
    <!-- else show only the profile info -->
    <p> Name: <%= Profile_user.name %> </p>
    <p> Email: <%= Profile_user.email %> </p>
<% } %>